@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --red: hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);
    --blue: hsl(248, 32%, 49%);
    --dark-blue: hsl(249, 10%, 26%);
    --grayish-blue: hsl(246, 25%, 77%);
    --font-size: 16px;
    --font-family: 'Poppins';
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: var(--font-family);
}

main{
    background-image: url(images/bg-intro-desktop.png);
    background-color: var(--red);
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#title{
    font-size: 3rem;
    color: white;
    line-height: 1.2;
}

#text{
    font-size: var(--font-size);
    color: white;
    margin-top: 2rem;
    
}

.text-display{
    margin-left: 10rem;
    margin-right: 4rem;
}

.try-it{
    background-color: var(--blue);
    color: white;
    text-align: center;
    font-size: 1rem;
    padding: 10px;
    width: 80%;
    border-radius: 0.5rem;
    box-shadow: 0px 5px hsl(356, 38%, 55%);
    margin-bottom: 1rem;
    cursor: pointer;
}

.bold{
    font-weight: bold;
}

.form-display{
    width: 100%;
}

form{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 1.5rem;
    box-shadow: 0px 5px hsl(356, 38%, 55%);
    border-radius: 0.5rem;
}

.mess-error{
    visibility: hidden;
    position: absolute;
}

.input-container{
    margin-bottom: 0.9rem;
    padding: 0.7rem;
    border-radius: 0.3rem;
    border-style: solid;
    border-color: rgb(215, 211, 211);
}

.btn-container{
    background-color: var(--green);
    color: white;
    border-style: none;
    margin-bottom: 0.9rem;
    padding: 0.7rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}

.condition{
    font-size: 0.6rem;
    color: var(--grayish-blue);
    text-align: center;
}
.condition>span{
    color: var(--red);
    font-size: 0.7rem;
    font-weight: 500;
    cursor: pointer;
}

@media screen and (max-width:768px) {
    main{
        background-image: url(images/bg-intro-mobile.png);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .form-display{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .text-display{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        margin: 0px;
    }

    #text{
        margin: 1rem 0;
    }
    
}